In [ ]:
import praw


reddit = praw.Reddit(
    client_id="AFaAUdloxpfo7w",
    client_secret="pfpsSSWvRcD1kT25MmeGnN_oB5n4Zg",
    user_agent="personal use script",
)

out = reddit.subreddit("all").search("Tesla Model X", limit=1000)
out

In [ ]:
ids = []
for i in out:
    ids.append(i.id)
    print(i.title)
ids

In [ ]:
import pandas as pd

data = pd.DataFrame(ids, columns=["ID"])
data

In [ ]:
comments_and_levels = []

for post_id in data["ID"]:
    post = reddit.submission(id=post_id)
    post_upvote_ratio = post.upvote_ratio
    
    #Parse an entire reddit post and grab its level, upvotes, and id
    def parse_comments(top_comment, level):
        body = top_comment.body
        score = top_comment.score
        id_ = top_comment.id
        #Only grabbing cogent sentences, lets say if length is > 100
        #Also splitting by linebreak - as well formed ideas are usually broken into sections
        if len(body) >= 100:
            cleanup = top_comment.body.split("\n")
            ideas = []
            for x in cleanup:
                if len(x) > 20:
                    ideas.append(x)
            comments_and_levels.append((ideas, level, score, id_, post_id, None))
        for comment in top_comment.replies:
            parse_comments(comment, level+1)

    post.comments.replace_more(limit=0)
    comments_and_levels.append((post.title, 0, post.score, post_id, post_id, post_upvote_ratio))

    for comment in post.comments:
        parse_comments(comment, 1)
    
data = pd.DataFrame(comments_and_levels, columns=["text", "level", "score", "id", "parent", "upvote_ratio"])
data = data.explode("text")
data = data.drop_duplicates(subset="text")
data

In [ ]:
data.to_csv("tesla_model_x_posts_and_comments.csv")

# Cleaning Text for TF-IDF

In [ ]:
import pandas as pd
import re
import string
from nltk import sent_tokenize, word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer


#Getting comments
comments = []
for comment in data["text"]:
    comments.append(str(comment))


def prep(row):     
    # split into tokens by white space
    tokens = row.split()
    # prepare regex for char filtering
    re_punc = re.compile('[%s]' % re.escape(string.punctuation))
    # remove punctuation from each word
    tokens = [re_punc.sub('', w) for w in tokens]
    # remove remaining tokens that are not alphabetic
    tokens = [word for word in tokens if word.isalpha()]
    # filter out stop words
    stop_words = set(stopwords.words('english'))
    tokens = [w for w in tokens if w not in stop_words]
    # stemming of words
    porter = PorterStemmer()
    stemmed = [porter.stem(word) for word in tokens]
    # filter out short tokens
    tokens = [word for word in tokens if len(word) > 1]
    return " ".join(tokens)


comments = pd.DataFrame(comments,columns=["text"])
comments["processed text"] = comments["text"].apply(lambda x: prep(x))
comments

# Running BERT and TFIDF

In [ ]:
#Using BERT and TFIDF
from sentence_transformers import SentenceTransformer
import pandas as pd
from sentence_transformers import SentenceTransformer
from sklearn.feature_extraction.text import TfidfVectorizer
import nltk

#this is slow - maybe try distilbert-base-uncased?
model = SentenceTransformer('distilbert-base-uncased')

bert_embeddings = []
v = TfidfVectorizer(max_features=1000, min_df=5)
print("start tfidf")
x = v.fit_transform(comments["processed text"])
print("finished tfidf")
print("starting BERT")
i = 0
for comment in comments["text"]:
    i += 1
    bert_embeddings.append(model.encode(comment))
    if i % 100 == 0:
        print(i)
bert_embeddings

In [ ]:
with open("TeslaModelXText.txt", "w") as f:
    for line in comments["text"]:
        f.write(line+"\n")

# Running FastText

In [ ]:
import fasttext
model = fasttext.train_unsupervised('TeslaModelXText.txt', model='skipgram')

# Time to create dataframes of embeddings

# BERT Alone (768 features)

In [ ]:
import hdbscan

clusterer = hdbscan.HDBSCAN(min_cluster_size=2, gen_min_span_tree=False, min_samples=2)
clusterer.fit(bert_embeddings)
data["BERT"] = clusterer.labels_

# FastText Alone (100 features)

In [ ]:
fasttext_embeddings = []
for line in comments["text"]:
    fasttext_embeddings.append(model[line])

clusterer = hdbscan.HDBSCAN(min_cluster_size=2, gen_min_span_tree=False, min_samples=2)
clusterer.fit(fasttext_embeddings)
data["FastText"] = clusterer.labels_

# TF-IDF Alone (1000 features)

In [ ]:
tfidf_embeddings = x.toarray()

clusterer = hdbscan.HDBSCAN(min_cluster_size=2, gen_min_span_tree=False, min_samples=2)
clusterer.fit(tfidf_embeddings)
data["TFIDF"] = clusterer.labels_

# BERT + FastText (868 features)

In [ ]:
import numpy as np
bert_ft = np.concatenate((bert_embeddings,fasttext_embeddings), axis=1)
clusterer = hdbscan.HDBSCAN(min_cluster_size=2, gen_min_span_tree=False, min_samples=2)
clusterer.fit(bert_ft)
data["BERT+FastText"] = clusterer.labels_

# BERT + TFIDF (1768 features)

In [ ]:
import numpy as np
bert_tfidf = np.concatenate((bert_embeddings, tfidf_embeddings), axis=1)
clusterer = hdbscan.HDBSCAN(min_cluster_size=2, gen_min_span_tree=False, min_samples=2)
clusterer.fit(bert_tfidf)
data["BERT+TFIDF"] = clusterer.labels_

# FastText + TFIDF (1100 features)

In [ ]:
import numpy as np
ft_tfidf = np.concatenate((fasttext_embeddings, tfidf_embeddings), axis=1)
clusterer = hdbscan.HDBSCAN(min_cluster_size=2, gen_min_span_tree=False, min_samples=2)
clusterer.fit(ft_tfidf)
data["FastText+TFIDF"] = clusterer.labels_

In [ ]:
data.to_csv("Final_Tesla_Model_X.csv")
data.head()

In [2]:
import pandas as pd
data = pd.read_csv("Final_Tesla_Model_X.csv")
data

,Unnamed: 0,text,level,score,id,parent,upvote_ratio,BERT,FastText,TFIDF,BERT+FastText,BERT+TFIDF,FastText+TFIDF
0,0.0,Tesla Model X avoids the crash,0.0,30789,mzymrn,mzymrn,0.87,-1.0,-1.0,476.0,-1.0,-1.0,313.0
1,1.0,Did the BMW accelerate after getting hit? It l...,1.0,1809,gw3k07l,mzymrn,NaN,-1.0,653.0,-1.0,-1.0,-1.0,-1.0
2,2.0,I got hit from behind once hard enough to sand...,3.0,574,gw3rh6m,mzymrn,NaN,216.0,-1.0,-1.0,215.0,215.0,-1.0
3,2.0,I assume the impact knocked my foot off the pe...,3.0,574,gw3rh6m,mzymrn,NaN,216.0,840.0,67.0,215.0,215.0,-1.0
4,3.0,I saw someone sliding to rear end me in my bra...,4.0,48,gw4rkxe,mzymrn,NaN,319.0,864.0,67.0,316.0,326.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4232,2630.0,Now run along and go watch your duck dynasty r...,2.0,1,fakjyq9,e9mhag,NaN,-1.0,261.0,336.0,-1.0,-1.0,-1.0
4233,2631.0,2021 Tesla Model X Review,0.0,1,l4rloa,l4rloa,1.00,151.0,-1.0,531.0,151.0,160.0,359.0
4234,2632.0,ARCHIVE - Top Tesla Models Review| Tesla model...,0.0,1,l8qk77,l8qk77,1.00,111.0,37.0,528.0,111.0,126.0,353.0
4235,2633.0,The 2022 Tesla Model S and 2022 Tesla Model X ...,0.0,1,l6oncu,l6oncu,1.00,95.0,-1.0,-1.0,95.0,86.0,-1.0
4236,2634.0,"CNET: Tesla Model X Plaid has 1,020 hp and tha...",0.0,1,l6ims6,l6ims6,1.00,138.0,-1.0,458.0,134.0,138.0,285.0

# Isolating the posts that were tagged as an idea by BERT, FastText, AND TFIDF

In [3]:
a = data[data["FastText"] != -1]
b = a[a["BERT"] != -1]
c = b[b["TFIDF"]!= -1]
c

,Unnamed: 0,text,level,score,id,parent,upvote_ratio,BERT,FastText,TFIDF,BERT+FastText,BERT+TFIDF,FastText+TFIDF
3,2.0,I assume the impact knocked my foot off the pe...,3.0,574,gw3rh6m,mzymrn,NaN,216.0,840.0,67.0,215.0,215.0,-1.0
4,3.0,I saw someone sliding to rear end me in my bra...,4.0,48,gw4rkxe,mzymrn,NaN,319.0,864.0,67.0,316.0,326.0,-1.0
31,24.0,"I had to shoulder dodge once in my truck, we w...",5.0,2,gw6teyc,mzymrn,NaN,329.0,863.0,67.0,325.0,343.0,-1.0
42,30.0,When it engages it brakes hard enough that ABS...,4.0,205,gw4jfty,mzymrn,NaN,280.0,913.0,269.0,278.0,277.0,-1.0
54,38.0,">Automatic Emergency Braking, I've experienced...",5.0,4,gw4lzb2,mzymrn,NaN,319.0,31.0,268.0,316.0,326.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4219,2622.0,All these comments and not a single one about ...,1.0,0,falxmj3,e9mhag,NaN,258.0,221.0,336.0,-1.0,267.0,-1.0
4220,2622.0,"Between this, lower center of gravity and a la...",1.0,0,falxmj3,e9mhag,NaN,81.0,188.0,336.0,81.0,-1.0,-1.0
4225,2624.0,"Edit, I assumed it'd be the same as the Cybert...",1.0,-4,fakndrt,e9mhag,NaN,369.0,967.0,336.0,366.0,384.0,-1.0
4227,2626.0,I assumed it was a similar test to the one the...,3.0,0,fakon4n,e9mhag,NaN,369.0,938.0,336.0,366.0,384.0,-1.0
4234,2632.0,ARCHIVE - Top Tesla Models Review| Tesla model...,0.0,1,l8qk77,l8qk77,1.0,111.0,37.0,528.0,111.0,126.0,353.0

In [4]:
len(c["FastText"].unique())

409

In [5]:
len(c["BERT"].unique())

291

In [6]:
len(c["TFIDF"].unique())

282

In [7]:
len(c["BERT+FastText"].unique())

290

In [8]:
len(c["BERT+TFIDF"].unique())

277

In [10]:
len(c["FastText+TFIDF"].unique())

186

# Grabbing Number of Ideas for Each Model

In [2]:
model_text = ["BERT", "FastText", "TFIDF", "BERT+FastText", "BERT+TFIDF", "FastText+TFIDF"]
temp = {}
for x in model_text:
    temp[x] = len(data[x].unique()) 
    print(x, len(data[x].unique()))

BERT 394
FastText 973
TFIDF 535
BERT+FastText 391
BERT+TFIDF 407
FastText+TFIDF 368

In [3]:
for model in model_text:
    richest_clusters = []
    for i in range(temp[model]):
        if len(data[data[model]==i]) >= 5:
            richest_clusters.append(i)
    print(model, richest_clusters)

BERT [12, 38, 181, 184, 201, 215, 222, 232, 234, 253, 261, 278, 280, 289, 293, 298, 301, 340, 345, 375, 378, 379, 383, 387]
FastText [3, 14, 16, 17, 18, 29, 57, 58, 59, 75, 83, 89, 102, 107, 118, 122, 123, 134, 150, 153, 154, 223, 243, 257, 269, 270, 273, 275, 279, 289, 331, 337, 338, 343, 357, 360, 377, 411, 434, 444, 452, 483, 486, 515, 527, 537, 544, 569, 580, 590, 613, 625, 639, 649, 654, 655, 671, 674, 681, 685, 692, 694, 697, 699, 704, 717, 724, 731, 733, 734, 739, 751, 763, 764, 791, 794, 804, 811, 820, 821, 824, 836, 838, 847, 861, 866, 873, 876, 890, 892, 906, 915, 926, 927, 935, 936, 937, 944, 946, 949, 962, 964, 970]
TFIDF [1, 2, 4, 5, 6, 7, 10, 11, 14, 17, 20, 21, 22, 24, 31, 34, 36, 38, 40, 42, 44, 48, 50, 54, 55, 59, 63, 64, 67, 71, 72, 74, 77, 81, 82, 83, 85, 86, 89, 90, 92, 93, 94, 96, 100, 101, 102, 103, 104, 107, 112, 114, 118, 121, 127, 128, 129, 130, 132, 136, 139, 140, 142, 144, 147, 148, 150, 151, 152, 158, 161, 164, 169, 170, 171, 175, 179, 180, 183, 184, 188, 189, 191, 196, 201, 203, 205, 207, 209, 217, 221, 222, 223, 224, 227, 230, 238, 240, 243, 244, 251, 252, 255, 260, 261, 265, 271, 274, 276, 278, 284, 286, 289, 291, 292, 293, 294, 300, 302, 306, 318, 322, 336, 338, 343, 344, 356, 361, 363, 364, 368, 374, 377, 378, 384, 386, 396, 400, 405, 406, 407, 412, 413, 421, 432, 442, 446, 461, 470, 474, 478, 494, 500, 505, 514, 517, 531, 532]
BERT+FastText [14, 37, 180, 183, 200, 214, 221, 232, 233, 252, 258, 277, 278, 290, 292, 295, 298, 338, 342, 372, 375, 376, 380, 384]
BERT+TFIDF [17, 32, 184, 207, 210, 212, 214, 226, 241, 244, 253, 268, 270, 277, 289, 295, 299, 359, 383, 390, 392, 400]
FastText+TFIDF [4, 133, 141, 144, 171, 176, 179, 192, 196, 202, 205, 209, 211, 212, 213, 221, 226, 241, 245, 246, 249, 251, 253, 255, 270, 275, 280, 282, 295, 304, 306, 327, 331, 340, 343]

# Grabbing posts and generating scores for each of them

In [4]:
posts_and_comments = pd.read_csv("tesla_model_x_posts_and_comments.csv")
posts = posts_and_comments[posts_and_comments["level"] == 0]
posts

,Unnamed: 0,text,level,score,id,parent,upvote_ratio
0,0.0,Tesla Model X avoids the crash,0.0,30799,mzymrn,mzymrn,0.87
373,238.0,Refreshed Tesla Model X. Customs already?,0.0,561,nda1f5,nda1f5,0.93
400,260.0,"Trading “good karma, and good vibes” for a Tes...",0.0,6284,mid6cb,mid6cb,0.99
439,289.0,Tesla Model X Deliveries Pushed Back From Febr...,0.0,44,ncjurh,ncjurh,0.88
510,328.0,"Trading “good karma, and good vibes” for Tesla...",0.0,2539,miburn,miburn,0.97
...,...,...,...,...,...,...,...
3876,2416.0,"Tesla Model X – Charlotte, NC – Nikon D810; To...",0.0,8,k1qphq,k1qphq,0.90
3881,2421.0,Tug-of-war between Tesla Model X and Ford 4x4,0.0,3828,e9mhag,e9mhag,0.95
4234,2632.0,ARCHIVE - Top Tesla Models Review| Tesla model...,0.0,1,l8qk77,l8qk77,1.00
4671,2876.0,2021 Tesla Model X Review,0.0,1,l4rloa,l4rloa,1.00
4672,2877.0,The 2022 Tesla Model S and 2022 Tesla Model X ...,0.0,1,l6oncu,l6oncu,1.00

# Generating a dictionary of comment_id to label

In [5]:
from collections import Counter

out = {}

for parent in posts["id"]:
    #Here we have all comments for a given post
    x = data[data["parent"] == parent]
    print(x[x["id"]==parent]["text"])
    #We can calculate how many ideas are reflected for each model
    out[parent] = {}
    for model in model_text:
        out[parent][model] = len(x[model].unique())

0    Tesla Model X avoids the crash
Name: text, dtype: object
373    Refreshed Tesla Model X. Customs already?
Name: text, dtype: object
400    Trading “good karma, and good vibes” for a Tes...
Name: text, dtype: object
439    Tesla Model X Deliveries Pushed Back From Febr...
Name: text, dtype: object
510    Trading “good karma, and good vibes” for Tesla...
Name: text, dtype: object
555    Tesla model X new orders pushed back to Jan-Fe...
Name: text, dtype: object
612    Can’t wait to play this underrated hidden gem ...
Name: text, dtype: object
640    This must be a sign. I saw this guy heading in...
Name: text, dtype: object
653    Kazadan kaçan Tesla Model X..
Name: text, dtype: object
658    You can ejaculate out a Tesla model x
Name: text, dtype: object
664    Tesla Model X hacked with $195 Raspberry Pi ba...
Name: text, dtype: object
Series([], Name: text, dtype: object)
1087    Random car meet in Car Dealership Tycoon, i’m ...
Name: text, dtype: object
1093    Thinking about buying a 2021 Red Tesla Model X...
Name: text, dtype: object
1130    Tesla model X - what are the hidden costs of p...
Name: text, dtype: object
1146    Skoda Enyaq next to a Tesla Model X
Name: text, dtype: object
1152    question if im getting a good deal. Its 2016 t...
Name: text, dtype: object
1167    You can change the color of someone’s Tesla mo...
Name: text, dtype: object
1165    Can a queen-size bed fit in the back of a Tesl...
Name: text, dtype: object
1169    How does Tesla model X collision avoid system ...
Name: text, dtype: object
1168    Hacking a Tesla Model X with a DJI Mavic 2 dro...
Name: text, dtype: object
1184    Tesla Model X Interior Refresh
Name: text, dtype: object
1256    [Tesla Model X] multicolored full package in S...
Name: text, dtype: object
1258    Tesla Model X drive-by keying caught on Sentry...
Name: text, dtype: object
1257    for sale: 2019 Used Tesla Model X Long Range. ...
Name: text, dtype: object
1306    Composite Charlotte skyline/Tesla Model X/Milk...
Name: text, dtype: object
1271    I live in my Tesla model x and am having troub...
Name: text, dtype: object
1416    2020 Tesla Model X Ride Quality
Name: text, dtype: object
1311    Différence de gabarit entre une Renault 4 et u...
Name: text, dtype: object
1415    ARCHIVE - Refreshed Tesla Model X. Customs alr...
Name: text, dtype: object
1414    for sale: 2020 Used Tesla Model X PERFORMANCE ...
Name: text, dtype: object
1442    for sale: 2018 Used Tesla Model X 75D. 7 SEAT....
Name: text, dtype: object
1440    for sale: 2020 Used Tesla Model X PERFORMANCE ...
Name: text, dtype: object
1441    for sale; 2017 Used Tesla Model X 100D. 6 SEAT...
Name: text, dtype: object
1443    2016 Tesla Model X Signature P90D - AWD, Ludic...
Name: text, dtype: object
1467    Tesla Model X, the official car of showing off...
Name: text, dtype: object
1466    for sale: 2017 Used Tesla Model X P100DL. 6 SE...
Name: text, dtype: object
1471    2016 Tesla Model X - For Sale!
Name: text, dtype: object
1472    Two Rivian’s on I-280! Coincidentally driving ...
Name: text, dtype: object
1497    for sale: 2019 Used Tesla Model X 75D. 7 SEAT....
Name: text, dtype: object
1553    Clarkson Is Astonished By The Self-Driving Tes...
Name: text, dtype: object
1498    Living in a Tesla Model X. Is this sub poppin?
Name: text, dtype: object
1570    Best of both worlds. First time using my new M...
Name: text, dtype: object
1496    for sale: 2017 Used Tesla Model X 100D 6 SEAT....
Name: text, dtype: object
1554    I know this is a Tesla Model X but...
Name: text, dtype: object
1577    for sale: 2018 Used Tesla Model X 100D. 5 SEAT...
Name: text, dtype: object
1590    for sale: 2018 Used Tesla Model X 100D. 6 SEAT...
Name: text, dtype: object
1578    2017 Tesla Model X - For Sale!
Name: text, dtype: object
1579    Tesla model X TDI?
Name: text, dtype: object
1591    Worked on my first tesla model x. The body pan...
Name: text, dtype: object
1588    Tesla Model X vs Mercedes G550 4×4 Squared – T...
Name: text, dtype: object
1934    Tesla Model X with FSD beta drives itself to s...
Name: text, dtype: object
1933    for sale : 2019 Used Tesla Model X 100D. 6 SEA...
Name: text, dtype: object
1942    I moved into a Tesla Model X to fight gentrifi...
Name: text, dtype: object
1968    Bought 2021 Tesla Model X
Name: text, dtype: object
1980    Tesla Model X 2021
Name: text, dtype: object
1941    day 1 of tesla model x
Name: text, dtype: object
1979    2021 Tesla Model X
Name: text, dtype: object
1982    London On Da Track Gifted Summer Walker A Tesl...
Name: text, dtype: object
1981    Tesla Model X 2021 - Is Model X the best Famil...
Name: text, dtype: object
1983    tesla model x with interior and working falcon...
Name: text, dtype: object
2000    ARCHIVE - How does Tesla model X collision avo...
Name: text, dtype: object
2001    VIDEO: Jeep TrackHawk Puts Tesla Model X In It...
Name: text, dtype: object
2004    Tesla Model X Long Range Plus horsepower and t...
Name: text, dtype: object
2003    2020 Used Tesla Model X Long Range Plus. 5 SEA...
Name: text, dtype: object
1984    How I sleep comfortably in a Tesla Model X eve...
Name: text, dtype: object
2005    2 Tesla Model X's and a Starship, 3 Spaceships...
Name: text, dtype: object
2016    What should have a better roll over rating Tes...
Name: text, dtype: object
2017    ARCHIVE - Tesla Model X rideshare company started
Name: text, dtype: object
2083    Tesla model x suspension repeatedly lowering a...
Name: text, dtype: object
2067    BMW iX3 vs Tesla Model X vs Audi e-tron vs Mer...
Name: text, dtype: object
2018    Tesla Model X Supercharging 0-100%: How Long D...
Name: text, dtype: object
2085    Porsche Taycan/Tesla Model X Charging?
Name: text, dtype: object
2082    $TSLA Tesla Model X Imagined As Overlanding Wa...
Name: text, dtype: object
2084    for sale: 2016 Used Tesla Model X 90D. 6 SEAT....
Name: text, dtype: object
2092    for sale: 2017 Used Tesla Model X 100D. 5 SEAT...
Name: text, dtype: object
2098    Asking Elon Musk for a Tesla model X like he i...
Name: text, dtype: object
2104    Anyone got the photo of Andy with his Tesla Mo...
Name: text, dtype: object
2103    for sale: 2020 Used Tesla Model X Long Range P...
Name: text, dtype: object
2106    for sale: 2017 Used Tesla Model X 100D. 6 SEAT...
Name: text, dtype: object
2102    for sale: 2016 Used Tesla Model X 90D. AUTOPIL...
Name: text, dtype: object
2105    Saw a [Tesla Model X 75D] in Singapore
Name: text, dtype: object
2093    This is how I sleep in my Tesla Model X every ...
Name: text, dtype: object
2108    2019 Used Tesla Model X Long Range. 5 Seat. Fu...
Name: text, dtype: object
2110    Is a Tesla Model X a good car for a senior cit...
Name: text, dtype: object
2107    for sale: 2018 Used Tesla Model X 100D. 7 SEAT...
Name: text, dtype: object
2156    Tesla Model X Issue
Name: text, dtype: object
2173    for sale: 2020 Used Tesla Model X Long Range P...
Name: text, dtype: object
2155    for sale: 2020 Used Tesla Model X Long Range. ...
Name: text, dtype: object
2160    Full chrome delete on a Tesla Model X.
Name: text, dtype: object
2175    Tesla Model X 2021 Car Dance, California, Spri...
Name: text, dtype: object
2177    Some say my life is short, some say I am a pla...
Name: text, dtype: object
2176    for sale: 2019 Used Tesla Model X PERFORMANCE....
Name: text, dtype: object
2235    Does the Tesla Model X have Boombox Mode
Name: text, dtype: object
2178    for sale: 2020 Used Tesla Model X Long Range P...
Name: text, dtype: object
2179    For sale: 2018 Used Tesla Model X 75D. 5 Seat....
Name: text, dtype: object
2180    for sale: 2017 Used Tesla Model X 75D. 7 Seat....
Name: text, dtype: object
2181    University hacks Tesla Model X
Name: text, dtype: object
2174    for sale: 2020 Used Tesla Model X PERFORMANCE....
Name: text, dtype: object
2224    Tesla Model X 2021 Car Dance, California, Spri...
Name: text, dtype: object
2225    Purchasing a used Tesla Model X
Name: text, dtype: object
2237    The [Tesla Model X] For The Common Man
Name: text, dtype: object
2236    for sale: 2020 Used Tesla Model X Long Range P...
Name: text, dtype: object
2381    for sale: 2020 Used Tesla Model X PERFORMANCE ...
Name: text, dtype: object
2244    Tesla Model X we did a full wrap in 3M Gloss D...
Name: text, dtype: object
2241    TESLA Model X
Name: text, dtype: object
2380    for sale: 2017 Used Tesla Model X 75D. 7 Seat....
Name: text, dtype: object
2242    2021 Tesla Model X Plaid - Build & Price Revie...
Name: text, dtype: object
2483    Used Tesla model X
Name: text, dtype: object
2383    2021 AUDI E-Tron Will Be 27% Cheaper Than Tesl...
Name: text, dtype: object
2520    I’m living in a Tesla Model X. Am I welcome here?
Name: text, dtype: object
2382    for sale: 2017 Used Tesla Model X 100D. 6 Seat...
Name: text, dtype: object
2526    lease takeover : 2019 Used Tesla Model X P100D...
Name: text, dtype: object
2527    The Tesla model X is a minivan
Name: text, dtype: object
2528    Acrylic Painting of Tesla Model x
Name: text, dtype: object
2531    for sale: 2019 Used Tesla Model X Long Range. ...
Name: text, dtype: object
2532    $25 Cash Bonus plus Win a Tesla Model X - Join...
Name: text, dtype: object
2543    Tesla Model X spotted equipped with LiDAR sens...
Name: text, dtype: object
2565    Tesla model x, street racing SUV
Name: text, dtype: object
2530    for sale : 2020 Used Tesla Model X. Long Range...
Name: text, dtype: object
2542    for sale: 2020 Used Tesla Model X Performance....
Name: text, dtype: object
2529    ARCHIVE - Tesla Model X 2018 - Is anyone else ...
Name: text, dtype: object

2566    Tesla Model X gets hacked through new relay at...
Name: text, dtype: object
2593    for sale: 2016 Used Tesla Model X P90D. Signat...
Name: text, dtype: object
2594    for sale: 2018 Used Tesla Model X 75D. 6 Seat....
Name: text, dtype: object
2694    for sale: 2017 Used Tesla Model X 100D. 6 Seat...
Name: text, dtype: object
2596    Norway: Audi E-Tron Has Caught Up to Tesla Mod...
Name: text, dtype: object
2595    for sale : 2018 Used Tesla Model X 100D. 6 Sea...
Name: text, dtype: object
2696    Hooni's Tesla Model X
Name: text, dtype: object
2695    ARCHIVE - Tesla Model X with over 400,000 mile...
Name: text, dtype: object
2697    Why Tesla's Model X Was The First SUV To Recei...
Name: text, dtype: object
2699    What's your opinion on the Ford Mustang Mach-E...
Name: text, dtype: object
2698    for sale: 2020 Used Tesla Model X PERFORMANCE....
Name: text, dtype: object
2760    Top Tesla Models Review| Tesla model x 2021- T...
Name: text, dtype: object
2753    As of September 2019, the Tesla Model X, Model...
Name: text, dtype: object
2754    Golden gate bridge, Tesla model x
Name: text, dtype: object
2757    for sale : 2019 Used Tesla Model X. 6 Seat. Ba...
Name: text, dtype: object
2761    Tesla Model X Secret Easter Egg
Name: text, dtype: object
2755    Tesla Model X Acceleration ⚡
Name: text, dtype: object
2778    Tesla Model X Signature Paperweight found. Tha...
Name: text, dtype: object
2789    JoJo Siwa's car. No that's not edited. She own...
Name: text, dtype: object
2762    for sale : 2017 Used Tesla Model X P100DL. PER...
Name: text, dtype: object
2893    Tesla model x, s or 3
Name: text, dtype: object
2788    Ambani's Tesla Model X Spotted on Roads
Name: text, dtype: object
2756    For sale : 2018 Used Tesla Model X 100D. 6 Sea...
Name: text, dtype: object
2878    How cool is the new technology in the Tesla Mo...
Name: text, dtype: object
2892    FreePN Privacy Guide: Tesla Model X
Name: text, dtype: object
2880    South Korea investigates fatal crash of Tesla ...
Name: text, dtype: object
2877    2018 [Tesla Model X] in Sydney, Australia
Name: text, dtype: object
2906    for sale: 2017 Used Tesla Model X 75D. 7 Seat....
Name: text, dtype: object
2995    I got a Tesla model x for Christmas
Name: text, dtype: object
2879    Tesla Model X Secret Easter Egg.
Name: text, dtype: object
2908    My used Tesla Model X buying experience
Name: text, dtype: object
2992    Center console display on the Tesla Model X
Name: text, dtype: object
2907    $25 Cash Bonus plus Win a Tesla Model X - Join...
Name: text, dtype: object
2989    Playing Cyberpunk 2077 on the Tesla Model X...
Name: text, dtype: object
2996    This quick video shows how I sleep in my Tesla...
Name: text, dtype: object
3000    What savings/income should a person have to re...
Name: text, dtype: object
2997    LANDLORD KICKED ME OUT. SPENT ALL MY RENT MONE...
Name: text, dtype: object
3074    Slowly finding my new sub to call home: Living...
Name: text, dtype: object
3075    [Jason Torchinsky] One Week-Old Tesla Model X ...
Name: text, dtype: object
3269    I live in a 2017 Tesla Model X (1 month in)
Name: text, dtype: object
3210    Tesla Model X P100D hauls over 2,000 lbs like ...
Name: text, dtype: object
3275    Tesla model X Gloss Black Colour Change vinyl ...
Name: text, dtype: object
3276    2017 Tesla Model X Performance $68k vs. 2020 T...
Name: text, dtype: object
3308    Tesla Model X After 20,000 Miles | Best Featur...
Name: text, dtype: object
3341    S. Korea's transport agency launches probe int...
Name: text, dtype: object
3345    This Bluetooth Attack Can Steal a Tesla Model ...
Name: text, dtype: object
3351    Tesla Model X to arrive in SA next week
Name: text, dtype: object
3352    Couldn't find any wallpapers like this, so I p...
Name: text, dtype: object
3340    ARCHIVE - First Tesla Model X will arrive in S...
Name: text, dtype: object
3354    First Tesla Model X arrives in South Africa ne...
Name: text, dtype: object
3416    Railway police in Switzerland (Basel) now has ...
Name: text, dtype: object
3433    Matt's Tesla Model X in Hot Wheels form (credi...
Name: text, dtype: object
3355    Tesla Model X deserves a prestigious spot at M...
Name: text, dtype: object
3434    First Tesla Model X will arrive in South Afric...
Name: text, dtype: object
3440    Tesla Model X in Nepal.
Name: text, dtype: object
3473    My latest render, Tesla model X
Name: text, dtype: object
3474    $25 Cash Bonus plus Win a Tesla Model X - Join...
Name: text, dtype: object
3435    I had tesla model x and Mercedes 2018 but e go...
Name: text, dtype: object
3491    Tesla Model X bossing through that flooded area.
Name: text, dtype: object
3475    2021 BMW X5M vs 2021 Tesla Model X Performance
Name: text, dtype: object
3767    Diamond Covered Tesla Model X in new Doja Cat/...
Name: text, dtype: object
3747    Gameplay Online from my Tesla Model X!
Name: text, dtype: object
3748    Ontario Provincial Police (OPP) Tesla Model X
Name: text, dtype: object
3749    I play gears of war from my Tesla Model X and ...
Name: text, dtype: object
3750    Tesla Model X winter off-roading
Name: text, dtype: object
3773    LOOK MA, NO HANDS: New owner of Tesla Model X ...
Name: text, dtype: object
3793    Want to know how to play gears from a Tesla Mo...
Name: text, dtype: object
3794    Tesla Model X 20” Silver Slipstream Tire/Wheel...
Name: text, dtype: object
3791    Bluetooth Attack Can Steal a Tesla Model X in ...
Name: text, dtype: object
3799    Tesla model X vs Jeep SRT
Name: text, dtype: object
3810    Mangia now has branded Tesla model x
Name: text, dtype: object
3812    How to sleep comfortably in a Tesla Model X Ev...
Name: text, dtype: object
3829    20" Tesla Model X Slipstream Wheel Size: 20X9....
Name: text, dtype: object
3798    My car looks like a Tesla Model X when covered...
Name: text, dtype: object
3830    COSIC researchers hack Tesla Model X key fob
Name: text, dtype: object
3814    Norway: The Audi e-tron has caught up with the...
Name: text, dtype: object
3813    OverKill Tesla CyberTruck with a Wedge Plow an...
Name: text, dtype: object
3835    ARCHIVE - Playing Gears of War Online from my ...
Name: text, dtype: object
3837    Rivian R1T looks surprisingly large beside Tes...
Name: text, dtype: object
3846    ARCHIVE - Tesla Model X Interior Refresh
Name: text, dtype: object
3836    ARCHIVE - Richard Hammond goes on a road trip ...
Name: text, dtype: object
3847    CNET: Tesla Model X Plaid gets a big interior ...
Name: text, dtype: object
4236    CNET: Tesla Model X Plaid has 1,020 hp and tha...
Name: text, dtype: object
3850    Tesla Model X Loses Bits Of Roof When In Movement
Name: text, dtype: object
3875    Tesla Model X – Charlotte, NC – Nikon D810; To...
Name: text, dtype: object
3880    Tug-of-war between Tesla Model X and Ford 4x4
Name: text, dtype: object
4234    ARCHIVE - Top Tesla Models Review| Tesla model...
Name: text, dtype: object
4233    2021 Tesla Model X Review
Name: text, dtype: object
4235    The 2022 Tesla Model S and 2022 Tesla Model X ...
Name: text, dtype: object

In [8]:
post_ideas = pd.DataFrame(out).transpose()
post_ideas = post_ideas.reset_index()
post_ideas["parent"] = post_ideas["index"]
post_ideas

,index,BERT,FastText,TFIDF,BERT+FastText,BERT+TFIDF,FastText+TFIDF,parent
0,mzymrn,49,209,59,47,54,43,mzymrn
1,nda1f5,3,18,7,3,3,5,nda1f5
2,mid6cb,9,28,11,9,9,7,mid6cb
3,ncjurh,7,44,16,7,7,11,ncjurh
4,miburn,6,34,14,6,7,9,miburn
...,...,...,...,...,...,...,...,...
206,k1qphq,2,5,3,2,1,1,k1qphq
207,e9mhag,50,177,68,50,50,54,e9mhag
208,l8qk77,1,1,1,1,1,1,l8qk77
209,l4rloa,1,1,1,1,1,1,l4rloa
210,l6oncu,1,1,1,1,1,1,l6oncu

In [34]:
out = pd.merge(posts, post_ideas, on="parent")
for model in model_text:
    #Echo score is diversity ratio * downvotes / upvotes
    out["score"] = out["score"].apply(lambda x: float(x))
    out[model+"_echo_score"] = (out[model]/temp[model]) * ((1-out["upvote_ratio"]) * out["score"]) / (out["upvote_ratio"]*out["score"])

for model in model_text:
    print(out.sort_values(model+"_echo_score", ascending=False).head()["text"])
    print("------------------")

108                                   Used Tesla model X
41        Living in a Tesla Model X. Is this sub poppin?
0                         Tesla Model X avoids the crash
160    [Jason Torchinsky] One Week-Old Tesla Model X ...
131    What's your opinion on the Ford Mustang Mach-E...
Name: text, dtype: object
------------------
160    [Jason Torchinsky] One Week-Old Tesla Model X ...
0                         Tesla Model X avoids the crash
131    What's your opinion on the Ford Mustang Mach-E...
41        Living in a Tesla Model X. Is this sub poppin?
108                                   Used Tesla model X
Name: text, dtype: object
------------------
41        Living in a Tesla Model X. Is this sub poppin?
160    [Jason Torchinsky] One Week-Old Tesla Model X ...
0                         Tesla Model X avoids the crash
53     I moved into a Tesla Model X to fight gentrifi...
131    What's your opinion on the Ford Mustang Mach-E...
Name: text, dtype: object
------------------
108                                   Used Tesla model X
41        Living in a Tesla Model X. Is this sub poppin?
0                         Tesla Model X avoids the crash
160    [Jason Torchinsky] One Week-Old Tesla Model X ...
131    What's your opinion on the Ford Mustang Mach-E...
Name: text, dtype: object
------------------
0                         Tesla Model X avoids the crash
160    [Jason Torchinsky] One Week-Old Tesla Model X ...
41        Living in a Tesla Model X. Is this sub poppin?
108                                   Used Tesla model X
131    What's your opinion on the Ford Mustang Mach-E...
Name: text, dtype: object
------------------
41        Living in a Tesla Model X. Is this sub poppin?
0                         Tesla Model X avoids the crash
131    What's your opinion on the Ford Mustang Mach-E...
160    [Jason Torchinsky] One Week-Old Tesla Model X ...
108                                   Used Tesla model X
Name: text, dtype: object
------------------

In [82]:
sample = ["mzymrn",
"narljv",
"k17a34",
"mzdith",
"lw8z93",
"nbhchz",
"lvgr9j",
"lmd2c5",
"k6nm1y",
"ky6zgd",
"jafoxj",
"lfiv84",
"d3e42b",
"m3rfte",
"lfjl1w",
"kf1lf5",
"jexnuv",
"lrjce4",
"mxx478",
"ifcy2d",
"mkar6r",
"mcmsmq",
"jzkea8",
"gju3xs",
"j87dm2",
"j1zlme",
"mrvmo5",
"lw8z93",
"kr1vp3",
"nbhchz",
"lfitsm",
"lgakfl"]

x = []

for i in sample:
    temp_row = []
    row = out[out["id"]==i]
    for model in model_text:
        temp_row.append(row[model+"_echo_score"].values[0])
    x.append(temp_row)

pd.DataFrame(x, columns = model_text)

        BERT  FastText     TFIDF  BERT+FastText  BERT+TFIDF  FastText+TFIDF
0   0.018583  0.032096  0.016479       0.017962    0.019825        0.017460
1   0.010367  0.016791  0.009925       0.010446    0.010036        0.012209
2   0.004442  0.010149  0.005452       0.004476    0.004505        0.006114
3        NaN       NaN       NaN            NaN         NaN             NaN
4   0.000155  0.000189  0.000229       0.000157    0.000100        0.000166
5        NaN       NaN       NaN            NaN         NaN             NaN
6   0.001934  0.001566  0.002492       0.001949    0.001872        0.002588
7   0.001138  0.001536  0.002234       0.001146    0.001101        0.002436
8   0.000155  0.000231  0.000114       0.000157    0.000150        0.000111
9   0.019459  0.019261  0.012738       0.019608    0.016744        0.013889
10  0.011844  0.011648  0.008723       0.011935    0.011466        0.009058
11  0.007352  0.010419  0.016242       0.007408    0.008896        0.013774
12  0.005738  0.014031  0.008127       0.005782    0.005341        0.009924
13  0.003135  0.002721  0.004618       0.003159    0.002602        0.004795
14  0.002196  0.003176  0.002772       0.002213    0.001822        0.002015
15  0.001915  0.000775  0.001410       0.001929    0.001854        0.002050
16  0.001692  0.000914  0.001454       0.001705    0.001365        0.001812
17  0.001250  0.000506  0.000921       0.001260    0.001210        0.001338
18  0.001240  0.002175  0.000913       0.001249    0.001200        0.000885
19  0.001069  0.002164  0.001279       0.000942    0.001035        0.001144
20  0.000801  0.001190  0.001279       0.000808    0.000776        0.001001
21  0.000595  0.000241  0.000438       0.000600    0.000576        0.000637
22  0.000486  0.000262  0.000597       0.000490    0.000470        0.000694
23  0.000414  0.001217  0.000916       0.000418    0.000451        0.000943
24  0.000324  0.000131  0.000239       0.000326    0.000314        0.000347
25  0.000267  0.000703  0.000590       0.000269    0.000259        0.000572
26  0.000221  0.000089  0.000163       0.000222    0.000214        0.000236
27  0.000155  0.000189  0.000229       0.000157    0.000100        0.000166
28  0.000052  0.000084  0.000114       0.000052    0.000050        0.000055
29       NaN       NaN       NaN            NaN         NaN             NaN
30       NaN       NaN       NaN            NaN         NaN             NaN
31       NaN       NaN       NaN            NaN         NaN             NaN

In [ ]:
import pandas as pd

data = pd.read_csv("Final_Tesla_Model_X.csv")
model_text = ["BERT", "FastText", "TFIDF", "BERT+FastText", "BERT+TFIDF", "FastText+TFIDF"]
for x in model_text:
    print(x, len(data[x].unique()))
    
posts_and_comments = pd.read_csv("tesla_model_x_posts_and_comments.csv")
posts = posts_and_comments[posts_and_comments["level"] == 0]

out = {}

for parent in posts["id"]:
    #Here we have all comments for a given post
    x = data[data["parent"] == parent]
    print(x[x["id"]==parent]["text"])
    #We can calculate how many ideas are reflected for each model
    out[parent] = {}
    for model in model_text:
        out[parent][model] = len(x[model].unique())
        
        
post_ideas = pd.DataFrame(out).transpose()
post_ideas = post_ideas.reset_index()
post_ideas["parent"] = post_ideas["index"]

out = pd.merge(posts, post_ideas, on="parent")
for model in model_text:
    #Echo score is diversity ratio * downvotes / upvotes
    out["score"] = out["score"].apply(lambda x: float(x))
    out[model+"_echo_score"] = (out[model]/temp[model]) * ((1-out["upvote_ratio"]) * out["score"]) / (out["upvote_ratio"]*out["score"])

for model in model_text:
    print(out.sort_values(model+"_echo_score", ascending=False).head()["text"])
    print("------------------")
    
    
lol = out[out["BERT_echo_score"]!=0]
lol = lol.sort_values("BERT_echo_score", ascending=False)
for i in lol[::5]["id"]:
    print(i)

In [84]:
out.to_csv("final_echo_scores_tesla.csv")

In [ ]:
sample = ["mzymrn",
"narljv",
"k17a34",
"mzdith",
"lw8z93",
"nbhchz",
"lvgr9j",
"lmd2c5",
"k6nm1y",
"ky6zgd",
"jafoxj",
"lfiv84",
"d3e42b",
"m3rfte",
"lfjl1w",
"kf1lf5",
"jexnuv",
"lrjce4",
"mxx478",
"ifcy2d",
"mkar6r",
"mcmsmq",
"jzkea8",
"gju3xs",
"j87dm2",
"j1zlme",
"mrvmo5",
"lw8z93",
"kr1vp3",
"nbhchz",
"lfitsm",
"lgakfl"]

x = []

for i in sample:
    temp_row = []
    row = out[out["id"]==i]
    for model in model_text:
        temp_row.append(row[model+"_echo_score"].values[0])
    x.append(temp_row)

pd.DataFrame(x, columns = model_text)